/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

header {
    background-color: white;
}

body {
    background-color: lightgray;
    background-image: url("./assets/pictures/Grau_Gitternetz_730x1920.png");
}

.ml-2 {
    margin-left: 8px;
}

.ml-5 {
    margin-left: 20px;
}

.mr-2 {
    margin-right: 8px;
}

.ma-2 {
    margin: 8px;
}

.pa-2 {
    padding: 8px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.inputBackground {
    background-color: white !important;
}

.inputBackgroundDisabled {
    background-color: grey !important;
}

.button {
    width: 150px !important;
}