<h3>Einstellungen</h3>
<mat-card mat-card-content style="background-color: white" class="pa-2 ma-2">
    <div class="pa-2">
        <p class="mr-2">API-Key:</p>
        <input type="password" class="inputBackground" [(ngModel)]="apiKey" placeholder="API Key" style="width: 300px" />
    </div>
    <div class="pa-2" style="width: 300px;">
        <p class="mr-2">Assistant ID:</p>
        <p-dropdown
        class="inputBackground"
        [style]="{'width':'300px'}"
        [options]="assistants" 
        [(ngModel)]="selectedAssistant" 
        optionLabel="name"
        placeholder="Select an Assistant" />
    </div>
</mat-card>
<footer class="settings-footer">
    <button mat-raised-button class="cancel-btn button mr-2" (click)="cancel()">Abbrechen</button>
    <button mat-raised-button class="save-btn button mr-2" (click)="saveSettings()">Speichern</button>
</footer>
