.teststyle >>> .p-listbox {
    font-size: medium;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialogButtons {
    display: flex;
    justify-content: right;
}

.create-thread-btn >>> button {
    width: 25rem;
    color: white;
    background-color: red !important;
    border-color: red !important;
}

.dialog-create-btn >>> button {
    color: white;
    background-color: red !important;
    border-color: red !important;
}

.dialog-cancel-btn  >>> button{
    color: white;
    background-color: lightgray !important;
    border-color: lightgray !important;
}

.progress-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.53);
}

.listbox-item {
    width: -moz-available;
    display: flex;
    justify-content: space-between;
}