.chat-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  height: 36px;
}

button {
  width: 80px;
}

div {
  display: flex;
  align-items: center;
}

textarea {
  margin-bottom: 10px;
  resize: none;
  /* Verhindert das Größenändern des Textbereichs */
}

.chat-console {
  flex-grow: 1;
}

.chat-console-container {
  display: flex;
}