<main>
  <div class="row">
    <div class="column sidebar">
      <p-button (click)="isSidebarVisible = true" icon="pi pi-arrow-right" size="large" />
    </div>
    <div class="column">
      <h3>ChatGPT Konsole</h3>
      <chat-console id="chat-console" class="chat-console"></chat-console>
      <div class="chat-input">
        <input type="text" 
          styleClass="#{isSendEnabeld() ? 'inputBackgroundDisabled' : 'inputBackground'}"
          [(ngModel)]="inputText" 
          [placeholder]="placeholder" 
          (ngModelChange)="updateInputText($event)"
          (keydown)="handleKeyDown($event)"
          [disabled]="!isSendEnabeld()" />
        <div *ngIf="isLoading;then loadbutton else sendbutton">here is ignored</div>
        <ng-template #sendbutton>
          <button  mat-raised-button class="button" (click)="sendMessage()" [disabled]="!isSendEnabeld()">Senden</button>
        </ng-template>
        <ng-template #loadbutton>
          <button mat-raised-button class="button" [disabled]="true">
            <i class="fa fa-spinner fa-spin"></i> Loading
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</main>

<p-sidebar [(visible)]="isSidebarVisible" [style]="{ width: '30rem' }">
  <chat-threads (changeThread)="changeThread($event)" />
</p-sidebar>