.chat-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  height: 36px;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: red;
  color: white;
}

.mat-mdc-raised-button:disabled {
  color: white;
}

p-button>>>button {
  color: white !important;
  background-color: red !important;
  border-color: red !important;
  margin-left: -2px;
}

.chat-input {
  display: flex;
  align-items: center;
}

textarea {
  margin-bottom: 10px;
  resize: none;
  /* Verhindert das Größenändern des Textbereichs */
}

.chat-console {
  flex-grow: 1;
}

.row {
  display: table;
  width: 100%;
  /*Optional*/
  border-spacing: 4px;
  /*Optional*/
}

.column {
  display: table-cell;
  place-items: center;
  align-items: center;
  height: 40em;
}

.sidebar {
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: left;
  align-items: center;

  padding-left: 10px;

  width: 20px;
}